swagger: '2.0'
info:
  title: BC Geographical Names Web Service
  description: 'Geographical names are more than labels on maps and road signs. They can reveal patterns of settlement, exploration and migration, and mirror outside influences to our history - aspects of the heritage and promise of an area that might otherwise be overlooked or forgotten by visitors and later generations.'
  version: 1.0.0
host: apps.gov.bc.ca
basePath: /pub/bcgnws
schemes:
  - http
produces:
  - text/xml
  - text/csv
paths:
  /names/official/search:
    get:
      description: 'Searches all names or all official names by name; wildcard characters “*” are allowed.'
      parameters:
        - name: name
          in: query
          description: 'Feature Name (can include wildcards *)'
          type: string
          required: false
        - name: exactSpelling
          in: query
          description: 'possible values include: 0 - (default) use partial smart matching, 1 - edit and swap distance matching not performed.'
          type: integer
          required: false
          default: 0
          enum:
            - 0
            - 1
        - name: startIndex
          in: query
          description: "Defines 'page' in selected records"
          type: integer
          required: false
          default: 0
        - name: itemsPerPage
          in: query
          description: "Defines 'page' in selected records"
          type: integer
          required: false
          default: 25
          enum:
            - 25
            - 50
            - 100
            - 200
        - name: outputFormat
          in: query
          description: Defines output format
          type: string
          required: false
          default: json
          enum:
            - xml
            - csv
            - rdf
            - json
            - kml
            - uri
        - name: outputStyle
          in: query
          description: Defines output format
          type: string
          required: false
          default: detail
          enum:
            - summary
            - detail
        - name: outputSRS
          in: query
          description: Defines output EPSG CRS
          type: integer
          required: true
          default: 4326
          enum:
            - 3005
            - 3857
            - 4326
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
            - 32607
            - 32608
            - 32609
            - 32610
            - 32611
            - 26707
            - 26708
            - 26709
            - 26710
            - 26711
        - name: sortBy
          in: query
          description: Sort Results
          type: string
          required: false
          default: score,name
      responses:
        '200':
          description: Name search result
  /names/official/inside:
    get:
      description: 'Returns all names, all official names, or notOfficial names inside or intersected by a given bounding box.'
      parameters:
        - name: bbox
          in: query
          description: 'Bounding box in degrees. Format: bbox=minLon,minLat,maxLon,maxLat. Example: -127.132,50.474,-126.872,50.626'
          type: string
          required: false
        - name: sortBy
          in: query
          description: Sort Results
          type: string
          required: false
          default: name
          enum:
            - undefined
            - name
            - featureType
            - decisionDate
        - name: itemsPerPage
          in: query
          description: "Defines 'page' in selected records"
          type: integer
          required: false
          default: 25
          enum:
            - 25
            - 50
            - 100
            - 200
        - name: outputFormat
          in: query
          description: Defines output format
          type: string
          required: false
          default: kml
          enum:
            - xml
            - csv
            - rdf
            - json
            - kml
            - uri
        - name: outputStyle
          in: query
          description: Defines output format
          type: string
          required: false
          default: detail
          enum:
            - summary
            - detail
        - name: outputSRS
          in: query
          description: Defines output EPSG CRS
          type: integer
          required: true
          default: 4326
          enum:
            - 3005
            - 3857
            - 4326
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
            - 32607
            - 32608
            - 32609
            - 32610
            - 32611
            - 26707
            - 26708
            - 26709
            - 26710
            - 26711
      responses:
        '200':
          description: Inside search result
  /names/near:
    get:
      description: 'Returns all names, all official names, or notOfficial names near a given point.'
      parameters:
        - name: featurePoint
          in: query
          description: 'A point. Format: featurePoint=Lon,Lat. Example: -123.307,48.473'
          type: string
          required: false
        - name: distance
          in: query
          description: "Search range from featurePoint"
          type: integer
          required: true
          default: 5
        - name: official
          in: query
          description: "official, _________"
          type: integer
          required: false
          default: 1
        - name: sortBy
          in: query
          description: Sort Results
          type: string
          required: false
          default: name
          enum:
            - undefined
            - name
            - featureType
            - decisionDate
        - name: startIndex
          in: query
          description: "Defines 'page' in selected records"
          type: integer
          required: false
          default: 1
        - name: itemsPerPage
          in: query
          description: "Defines 'page' in selected records"
          type: integer
          required: false
          default: 25
          enum:
            - 25
            - 50
            - 100
            - 200
        - name: outputFormat
          in: query
          description: Defines output format
          type: string
          required: false
          default: kml
          enum:
            - xml
            - csv
            - rdf
            - json
            - kml
            - uri
        - name: outputStyle
          in: query
          description: Defines output format
          type: string
          required: false
          default: detail
          enum:
            - summary
            - detail
        - name: outputSRS
          in: query
          description: Defines output EPSG CRS
          type: integer
          required: true
          default: 4326
          enum:
            - 3005
            - 3857
            - 4326
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
            - 32607
            - 32608
            - 32609
            - 32610
            - 32611
            - 26707
            - 26708
            - 26709
            - 26710
            - 26711
      responses:
        '200':
          description: Inside search result
  /names/decisions/recent:
    get:
      description: '____________'
      parameters:
        - name: days
          in: query
          description: '_________________'
          type: integer
          required: true
          default: 30
        - name: official
          in: query
          description: "official, _________"
          type: integer
          required: false
          default: 1
        - name: sortBy
          in: query
          description: Sort Results
          type: string
          required: false
          default: decisionDate
          enum:
            - undefined
            - name
            - featureType
            - decisionDate
        - name: startIndex
          in: query
          description: "Defines 'page' in selected records"
          type: integer
          required: false
          default: 1
        - name: itemsPerPage
          in: query
          description: "Defines 'page' in selected records"
          type: integer
          required: false
          default: 25
          enum:
            - 25
            - 50
            - 100
            - 200
        - name: outputFormat
          in: query
          description: Defines output format
          type: string
          required: false
          default: json
          enum:
            - xml
            - csv
            - rdf
            - json
            - kml
            - uri
        - name: outputStyle
          in: query
          description: Defines output format
          type: string
          required: false
          default: detail
          enum:
            - summary
            - detail
        - name: outputSRS
          in: query
          description: Defines output EPSG CRS
          type: integer
          required: true
          default: 4326
          enum:
            - 3005
            - 3857
            - 4326
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
            - 32607
            - 32608
            - 32609
            - 32610
            - 32611
            - 26707
            - 26708
            - 26709
            - 26710
            - 26711
      responses:
        '200':
          description: Inside search result
  /names/changes:
    get:
      description: 'add description'
      parameters:
        - name: fromDate
          in: query
          description: 'add description'
          type: string
          required: true
          default: '2016-03-21'
        - name: toDate
          in: query
          description: 'add description'
          type: string
          required: true
          default: '2016-04-21'
        - name: official
          in: query
          description: "official, _________"
          type: integer
          required: false
          default: 1
        - name: sortBy
          in: query
          description: Sort Results
          type: string
          required: false
          default: changeDate
          enum:
            - undefined
            - name
            - changeDate
            - featureType
            - decisionDate
        - name: startIndex
          in: query
          description: "Defines 'page' in selected records"
          type: integer
          required: false
          default: 1
        - name: itemsPerPage
          in: query
          description: "Defines 'page' in selected records"
          type: integer
          required: false
          default: 25
          enum:
            - 25
            - 50
            - 100
            - 200
        - name: outputFormat
          in: query
          description: Defines output format
          type: string
          required: false
          default: json
          enum:
            - xml
            - csv
            - rdf
            - json
            - kml
            - uri
        - name: outputStyle
          in: query
          description: Defines output format
          type: string
          required: false
          default: detail
          enum:
            - summary
            - detail
        - name: outputSRS
          in: query
          description: Defines output EPSG CRS
          type: integer
          required: true
          default: 4326
          enum:
            - 3005
            - 3857
            - 4326
            - 26907
            - 26908
            - 26909
            - 26910
            - 26911
            - 32607
            - 32608
            - 32609
            - 32610
            - 32611
            - 26707
            - 26708
            - 26709
            - 26710
            - 26711
      responses:
        '200':
          description: Inside search result
