{
    "swagger": "2.0",
    "info": {
        "title": "BC Route Planner REST API",
        "description": "Finds shortest/fastest route between two points on British Columbia's public road network. Here are some geocoded addresses to play with: \n 18 Douglas St,Victoria -123.369628,48.408923 \n  1002 Johnson St, Victoria -123.355745,48.426206 \n 543 Johnson St, Victoria, BC -123.369077,48.42770 \n 14 Centennial Sq, Victoria, BC -123.365645,48.428632 \n 1105 Royal Ave,New Westminster  -122.920091,49.200637 \n 808 Jackson Cres, New Westminster -122.907620,49.225588 \n 10810 McDonald Rd, Chilliwack -121.938087,49.198594 \n 3950 June Springs Rd, Kelowna -119.407515,49.839604 \n 1201 Riondel Rd, Kootenay Bay -116.854024,49.744483 \n 1201 Riondel Rd, Kootenay Bay -116.832759,49.730500 (parcelPoint) \n 2499 Walbran Pl, Courtenay -124.972951,49.715181 \n 2013 Smoke Bluff Rd, Squamish   -123.139464,49.704015 \n 235 Kelvin Grove Way, Lions Bay -123.235246,49.450354",
        "version": "1.1.0",
        "license": {
            "name": "Open Government License - British Columbia",
            "url": "http://www.data.gov.bc.ca/local/dbc/docs/license/OGL-vbc2.0.pdf"
        },
        "termsOfService": "http://www.data.gov.bc.ca/local/dbc/docs/license/API_Terms_of_Use.pdf",
        "contact": {
            "name": "Data BC",
            "url": "http://data.gov.bc.ca/",
            "email": "datacat@gov.bc.ca"
        }
    },
    "externalDocs": {
        "description": "Open Route Planner Web Site",
        "url": "http://apps.gov.bc.ca/pub/geocoder"
    },
    "tags": [
        {
            "name": "directions"
        },
        {
            "name": "routes"
        },
        {
            "name": "route"
        },
        {
            "name": "routing"
        },
        {
            "name": "route planning"
        },
        {
            "name": "shortest route"
        },
        {
            "name": "fastest route"
        }
    ],
    "host": "api-router.api.gov.bc.ca",
    "basePath": "",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json",
        "application/vnd.google-earth.kml+xml",
        "text/html"
    ],
    "security": [
        {
            "apikey": []
        }
    ],
    "securityDefinitions": {
        "apikey": {
            "type": "apiKey",
            "in": "header",
            "name": "apikey"
        }
    },
    "paths": {
        "/distance.{outputFormat}": {
            "get": {
                "description": "Computes the length of the shortest path between given start and end points.",
                "tags": [
                    "distance"
                ],
                "parameters": [
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "Output format (e.g., json, kml, html). Default is json.",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "kml",
                            "html"
                        ]
                    },
                    {
                        "name": "points",
                        "in": "query",
                        "description": "Example: -123.707942,48.778691,-123.537850,48.382005. A list of any number of route points in start to end order. Points are specified as X1,Y1,...Xn,Yn where X and Y are values in the projection specified by the 'outputSRS' parameter. If no outputSRS is given, X is treated as longitude and Y is treated as latitude.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": false,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "criteria",
                        "in": "query",
                        "description": "Routing criteria to optimize (e.g., shortest, fastest). Default is shortest.",
                        "type": "string",
                        "required": false,
                        "default": "shortest",
                        "enum": [
                            "shortest",
                            "fastest"
                        ]
                    },
                    {
                        "name": "distanceUnit",
                        "in": "query",
                        "description": "distance unit of measure (e.g., km, mi). Default is km.",
                        "type": "string",
                        "required": false,
                        "default": "km",
                        "enum": [
                            "km",
                            "mi"
                        ]
                    },
                    {
                        "name": "routeDescription",
                        "in": "query",
                        "description": "Route description (e.g., Shortest route from 1002 Johnson St, Victoria to 1105 Royal Ave,New Westminster)",
                        "type": "string",
                        "required": false,
                        "default": "Routing results"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Distance of shortest or fastest route"
                    }
                }
            }
        },
        "/route.{outputFormat}": {
            "get": {
                "description": "Computes the shortest path between given start and end points and returns route geometry and total length",
                "tags": [
                    "route"
                ],
                "parameters": [
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "Output format (e.g., json, kml, html). Default is json.",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "kml",
                            "html"
                        ]
                    },
                    {
                        "name": "points",
                        "in": "query",
                        "description": "Example: -123.707942,48.778691,-123.537850,48.382005. A list of any number of route points in start to end order. Points are specified as X1,Y1,...Xn,Yn where X and Y are values in the projection specified by the 'outputSRS' parameter. If no outputSRS is given, X is treated as longitude and Y is treated as latitude.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": false,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "criteria",
                        "in": "query",
                        "description": "Routing criteria to optimize (e.g. shortest, fastest). Default is shortest.",
                        "type": "string",
                        "required": false,
                        "default": "shortest",
                        "enum": [
                            "shortest",
                            "fastest"
                        ]
                    },
                    {
                        "name": "distanceUnit",
                        "in": "query",
                        "description": "Distance units of measure (e.g., km, mi). Default is km.",
                        "type": "string",
                        "required": false,
                        "default": "km",
                        "enum": [
                            "km",
                            "mi"
                        ]
                    },
                    {
                        "name": "routeDescription",
                        "in": "query",
                        "description": "Route description (e.g., Shortest route from 1002 Johnson St, Victoria to 1105 Royal Ave,New Westminster)",
                        "type": "string",
                        "required": false,
                        "default": "Routing results"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Geometry and distance of shortest route in metres"
                    }
                }
            }
        },
        "/directions.{outputFormat}": {
            "get": {
                "description": "Computes the shortest path between given start and end points and returns turns by turn directions, route geometry, and total length",
                "tags": [
                    "directions"
                ],
                "parameters": [
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "Output format (e.g., json, kml, html). Default is json.",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "kml",
                            "html"
                        ]
                    },
                    {
                        "name": "points",
                        "in": "query",
                        "description": "Example: -123.707942,48.778691,-123.537850,48.382005. A list of any number of route points in start to end order. Points are specified as X1,Y1,...Xn,Yn where X and Y are values in the projection specified by the 'outputSRS' parameter. If no outputSRS is given, X is treated as longitude and Y is treated as latitude.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": false,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "criteria",
                        "in": "query",
                        "description": "Routing criteria to optimize (e.g., shortest, fastest). Default is shortest.",
                        "type": "string",
                        "required": false,
                        "default": "shortest",
                        "enum": [
                            "shortest",
                            "fastest"
                        ]
                    },
                    {
                        "name": "distanceUnit",
                        "in": "query",
                        "description": "distance units of measure (e.g., km, mi). Default is km.",
                        "type": "string",
                        "required": false,
                        "default": "km",
                        "enum": [
                            "km",
                            "mi"
                        ]
                    },
                    {
                        "name": "routeDescription",
                        "in": "query",
                        "description": "Route description (e.g., Shortest route from 1002 Johnson St, Victoria to 1105 Royal Ave,New Westminster)",
                        "type": "string",
                        "required": false,
                        "default": "Routing results"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Geometry, turn by turn directions, and distance of shortest or fastest route"
                    }
                }
            }
        }
    }
}
