{
    "swagger": "2.0",
    "info": {
        "title": "Geocoder REST API",
        "description": "This API computes the physical locations (i.e., latitude and longitude) and correct, standardized forms of civic and non-civic addresses in British Columbia.",
        "version": "2.0.0",
        "license": {
            "name": "Open Government License - British Columbia",
            "url": "http://www.data.gov.bc.ca/local/dbc/docs/license/OGL-vbc2.0.pdf"
        },
        "termsOfService": "http://www.data.gov.bc.ca/local/dbc/docs/license/API_Terms_of_Use.pdf",
        "contact": {
            "name": "DataBC",
            "url": "http://data.gov.bc.ca/",
            "email": "datacat@gov.bc.ca"
        }
    },
    "externalDocs": {
        "description": "Physical Address Geocoder Web Site",
        "url": "http://apps.gov.bc.ca/pub/geocoder"
    },
    "tags": [
        {
            "name": "addresses"
        },
        {
            "name": "sites"
        },
        {
            "name": "intersections"
        },
        {
            "name": "occupants"
        }
    ],
    "host": "geocoder.api.gov.bc.ca",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/addresses.{outputFormat}": {
            "get": {
                "description": "Represents the set of geocoded and standardized sites and intersections whose address best matches a given query address.",
                "tags": [
                    "addresses"
                ],
                "parameters": [
                    {
                        "name": "addressString",
                        "in": "query",
                        "description": "Examples: 525 Superior Street, Victoria, BC     301-780 Blanshard St, Victoria, BC    Johnson St and Government St, Victoria, BC                          Civic address or intersection address in Single-line Address Format or a recognized alternative format. If left empty, individual address elements must be provided (e.g., civicNumber, streetName, streetType, locality)",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "The output format",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "geojson",
                            "xhtml",
                            "kml",
                            "gml",
                            "csv",
                            "shpz"
                        ]
                    },
                    {
                        "name": "locationDescriptor",
                        "in": "query",
                        "description": "Describes the nature of the address location. A value of 'any' will return a point type other than accessPoint if one is defined; otherwise, it will return an accessPoint. An accessPoint is a point that lies on the curb or road edge of the site's assigned street and in the middle of a site’s driveway or access lane. If a site has no driveway or access lane, the accessPoint will be located in the middle of the entrance walkway. A parcelPoint is a point that is known to lie within the boundaries of a land parcel that contains the site being addressed. A routingPoint is a point that lies on a road centreline and directly in front of a site's accessPoint. A frontDoorPoint is a point represents the location of the front door or main entrance to a house or building. A rooftopPoint is a point representing the location of the roof of a house or building",
                        "type": "string",
                        "required": true,
                        "default": "any",
                        "enum": [
                            "any",
                            "accessPoint",
                            "frontDoorPoint",
                            "parcelPoint",
                            "rooftopPoint",
                            "routingPoint"
                        ]
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "The maximum number of search results to return.",
                        "type": "integer",
                        "required": false,
                        "default": 1
                    },
                    {
                        "name": "interpolation",
                        "in": "query",
                        "description": "In the case of a block level match, the method of interpolation to determine how far down the block the accessPoint should be. Linear interpolation uses the ratio (civicNumber - blockFaceMinCivicNumber) /    (blockFaceMaxCivicNumber - blockFaceMinCivicNumber) and the locations of the beginning and end of the block.  Adaptive interpolation uses the ratio (civicNumber - precedingKnownCivicNumber) / (followingKnownCivicNumber - precedingKnownCivicNumber) and the locations of the preceding, known civic number and the following, known civic number.",
                        "type": "string",
                        "required": false,
                        "default": "adaptive",
                        "enum": [
                            "adaptive",
                            "linear",
                            "none"
                        ]
                    },
                    {
                        "name": "echo",
                        "in": "query",
                        "description": "If true, include unmatched address details such as site name in results.",
                        "type": "boolean",
                        "default": true
                    },
                    {
                        "name": "setBack",
                        "in": "query",
                        "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
                        "type": "integer",
                        "required": false,
                        "default": 0
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": true,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "minScore",
                        "in": "query",
                        "description": "The minimum score required for a match to be returned. Scores are in the range of [0-100], where 100 represents the best possible match.",
                        "type": "integer",
                        "required": false,
                        "default": 1
                    },
                    {
                        "name": "matchPrecision",
                        "in": "query",
                        "description": "Example: street,locality.  A comma separated list of individual match precision levels. A site whose address matches at one of the allowed levels is included in the match results. In low to high precision order, match precision levels are: province, locality, intersection, street, block, civicNumber, site, unit",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "matchPrecisionNot",
                        "in": "query",
                        "description": "Example: street,locality.  A comma separated list of individual match precision levels. A site whose address matches at one of the allowed levels is excluded from the match results. In low to high precision order, match precision levels are: province, locality, intersection, street, block, civicNumber, site, unit",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "siteName",
                        "in": "query",
                        "description": "A string containing the name of the building, facility, or institution (e.g., Duck Building, Casa Del Mar, Crystal Garden, Bluebird House). A business name should only be used if it is permanently affixed to the site and the site has no other, more generic name. If a site is a unit within a complex, it may have a sitename in addition to a unitNumber and unitSuffix. siteName may be empty.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "unitDesignator",
                        "in": "query",
                        "description": "The type of unit within a house or building. The geocoder will try to match variations of these values on input (e.g., UPR) and output the standardized value (e.g., UPPR)",
                        "type": "string",
                        "required": false,
                        "enum": [
                            "APT",
                            "BLDG",
                            "BSMT",
                            "FLR",
                            "LOBBY",
                            "LWR",
                            "PAD",
                            "PH",
                            "REAR",
                            "RM",
                            "SIDE",
                            "SITE",
                            "SUITE",
                            "TH",
                            "UNIT",
                            "UPPR"
                        ]
                    },
                    {
                        "name": "unitNumber",
                        "in": "query",
                        "description": "The number of the unit, suite, or apartment within a house or building.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "unitNumberSuffix",
                        "in": "query",
                        "description": "A letter that follows the unit number as in Unit 1A or Suite 302B.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "civicNumber",
                        "in": "query",
                        "description": "The official number assigned to a site by an address authority such as a municipality, regional district, First Nations government, or the Department of National Defence.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "civicNumberSuffix",
                        "in": "query",
                        "description": "A letter or fraction that follows the civic number. There should be no space between a civic number and a letter (e.g., Unit 1A) and one space between a civic number and a fraction (e.g., Suite 3 1/2)",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "streetName",
                        "in": "query",
                        "description": "The official name of the street as assigned by an address authority (e.g., the Douglas in 1175 Douglas Street). A streetName that starts with a directional is not abbreviated (e.g., North Park, not N Park).",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "streetType",
                        "in": "query",
                        "description": "The type of street as assigned by a municipality (e.g., the ST in 1175 DOUGLAS ST) and is abbreviated if such an abbreviation exists. The set of all street types is defined by the provincial Integrated Transportation Network program.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "streetDirection",
                        "in": "query",
                        "description": "The abbreviated compass direction as defined by Canada Post and B.C. civic addressing authorities.",
                        "type": "string",
                        "required": false,
                        "enum": [
                            "N",
                            "S",
                            "E",
                            "W",
                            "O",
                            "NE",
                            "NO",
                            "NW",
                            "SE",
                            "SO",
                            "SW"
                        ]
                    },
                    {
                        "name": "streetQualifier",
                        "in": "query",
                        "description": "The qualifier of a street name (e.g., the Bridge in Johnson St Bridge)",
                        "type": "string",
                        "required": false,
                        "enum": [
                            "Onramp",
                            "Offramp",
                            "Bridge",
                            "Frontage"
                        ]
                    },
                    {
                        "name": "localityName",
                        "in": "query",
                        "description": "The name of the municipality, community, Indian Reservation, subdivision, regional district, aboriginal land, or natural feature the site is located in. Since this is a physical address geocoder, not a mailing address geocoder, the locality of a civic address is that defined by the address authority, not Canada Post. For example, an address in the Municipality of Esquimalt has a localityName of Esquimalt not Victoria which is the name of the postal community A locality name that starts with a directional should not be abbreviated (e.g., North Vancouver, not N Vancouver). Spelling of localities that are place names or natural feature names MUST match that published by the BC Geographical Names Information System.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "provinceCode",
                        "in": "query",
                        "description": "The ISO 3166-2 Sub-Country Code. The code for British Columbia is BC.",
                        "type": "string",
                        "required": false,
                        "default": "BC"
                    },
                    {
                        "name": "localities",
                        "in": "query",
                        "description": "A comma separated list of locality names that matched addresses must belong to. For example, setting localities to Nanaimo only returns addresses in Nanaimo",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "notLocalities",
                        "in": "query",
                        "description": "A comma-separated list of localities to exclude from the search.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "bbox",
                        "in": "query",
                        "description": "Example: -126.0792945083648,49.76287332290923,-126.0163386310997,49.79077056256354 .  A bounding box (xmin,ymin,xmax,ymax) that limits the search area.  The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "centre",
                        "in": "query",
                        "description": "Example: -124.0165926,49.2296251 .  The coordinates of a centre point (x,y) used to define a bounding circle that will limit the search area. The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter. This parameter must be specified together with 'maxDistance'.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "maxDistance",
                        "in": "query",
                        "description": "The maximum distance (metres) from the centre point that will define a bounding area to limit the search. The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter. This parameter must be specified together with 'centre'.",
                        "type": "number",
                        "required": false
                    },
                    {
                        "name": "extrapolate",
                        "in": "query",
                        "description": "If true, uses supplied parcelPoint to derive an appropriate accessPoint. If extrapolate=true and no parcelPoint is provided or if extrapolate= false and a parcelPoint is provided, no extrapolation is performed and locationDescriptor is used to determine type of point to return.",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "name": "parcelPoint",
                        "in": "query",
                        "description": "The coordinates of a point (x,y) known to be inside the parcel containing a given address; The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter. Ignored if extrapolate is set to false.",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of matching sites or intersections and their physical locations"
                    }
                }
            }
        },
        "/occupants/addresses.{outputFormat}": {
            "get": {
                "description": "Represents the set of occupants whose addresses best match a given query address. Every occupant has an associated site which has a standardized address and a coordinate location on the Earth.",
                "tags": [
                    "occupants"
                ],
                "parameters": [
                    {
                        "name": "addressString",
                        "in": "query",
                        "description": "Examples: Redfish Elementary --  Redfish Elementary -- Balfour Redfish Elementary School -- 265 Bryan Rd, Balfour, BC                          Occupant name followed by a frontGate delimiter ('--') followed by an optional address",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "tags",
                        "in": "query",
                        "description": "Example: schools;courts;employment  A list of tags separated by semicolons.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "The output format",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "geojson",
                            "xhtml",
                            "kml",
                            "gml",
                            "csv",
                            "shpz"
                        ]
                    },
                    {
                        "name": "locationDescriptor",
                        "in": "query",
                        "description": "Describes the nature of the address location. A value of 'any' will return a point type other than accessPoint if one is defined; otherwise, it will return an accessPoint. An accessPoint is a point that lies on the curb or road edge of the site's assigned street and in the middle of a site’s driveway or access lane. If a site has no driveway or access lane, the accessPoint will be located in the middle of the entrance walkway. A parcelPoint is a point that is known to lie within the boundaries of a land parcel that contains the site being addressed. A routingPoint is a point that lies on a road centreline and directly in front of a site's accessPoint. A frontDoorPoint is a point represents the location of the front door or main entrance to a house or building. A rooftopPoint is a point representing the location of the roof of a house or building",
                        "type": "string",
                        "required": true,
                        "default": "any",
                        "enum": [
                            "any",
                            "accessPoint",
                            "frontDoorPoint",
                            "parcelPoint",
                            "rooftopPoint",
                            "routingPoint"
                        ]
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "The maximum number of search results to return.",
                        "type": "integer",
                        "required": false,
                        "default": 1
                    },
                    {
                        "name": "interpolation",
                        "in": "query",
                        "description": "In the case of a block level match, the method of interpolation to determine how far down the block the accessPoint should be. Linear interpolation uses the ratio (civicNumber - blockFaceMinCivicNumber) /    (blockFaceMaxCivicNumber - blockFaceMinCivicNumber) and the locations of the beginning and end of the block.  Adaptive interpolation uses the ratio (civicNumber - precedingKnownCivicNumber) / (followingKnownCivicNumber - precedingKnownCivicNumber) and the locations of the preceding, known civic number and the following, known civic number.",
                        "type": "string",
                        "required": false,
                        "default": "adaptive",
                        "enum": [
                            "adaptive",
                            "linear",
                            "none"
                        ]
                    },
                    {
                        "name": "echo",
                        "in": "query",
                        "description": "If true, include unmatched address details such as site name in results.",
                        "type": "boolean",
                        "default": true
                    },
                    {
                        "name": "setBack",
                        "in": "query",
                        "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
                        "type": "integer",
                        "required": false,
                        "default": 0
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": true,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "minScore",
                        "in": "query",
                        "description": "The minimum score required for a match to be returned. Scores are in the range of [0-100], where 100 represents the best possible match.",
                        "type": "integer",
                        "required": false,
                        "default": 1
                    },
                    {
                        "name": "siteName",
                        "in": "query",
                        "description": "A string containing the name of the building, facility, or institution (e.g., Duck Building, Casa Del Mar, Crystal Garden, Bluebird House). A business name should only be used if it is permanently affixed to the site and the site has no other, more generic name. If a site is a unit within a complex, it may have a sitename in addition to a unitNumber and unitSuffix. siteName may be empty.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "unitDesignator",
                        "in": "query",
                        "description": "The type of unit within a house or building. The geocoder will try to match variations of these values on input (e.g., UPR) and output the standardized value (e.g., UPPR)",
                        "type": "string",
                        "required": false,
                        "enum": [
                            "APT",
                            "BLDG",
                            "BSMT",
                            "FLR",
                            "LOBBY",
                            "LWR",
                            "PAD",
                            "PH",
                            "REAR",
                            "RM",
                            "SIDE",
                            "SITE",
                            "SUITE",
                            "TH",
                            "UNIT",
                            "UPPR"
                        ]
                    },
                    {
                        "name": "unitNumber",
                        "in": "query",
                        "description": "The number of the unit, suite, or apartment within a house or building.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "unitNumberSuffix",
                        "in": "query",
                        "description": "A letter that follows the unit number as in Unit 1A or Suite 302B.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "civicNumber",
                        "in": "query",
                        "description": "The official number assigned to a site by an address authority such as a municipality, regional district, First Nations government, or the Department of National Defence.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "civicNumberSuffix",
                        "in": "query",
                        "description": "A letter or fraction that follows the civic number. There should be no space between a civic number and a letter (e.g., Unit 1A) and one space between a civic number and a fraction (e.g., Suite 3 1/2)",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "streetName",
                        "in": "query",
                        "description": "The official name of the street as assigned by an address authority (e.g., the Douglas in 1175 Douglas Street). A streetName that starts with a directional is not abbreviated (e.g., North Park, not N Park).",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "streetType",
                        "in": "query",
                        "description": "The type of street as assigned by a municipality (e.g., the ST in 1175 DOUGLAS ST) and is abbreviated if such an abbreviation exists. The set of all street types is defined by the provincial Integrated Transportation Network program.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "streetDirection",
                        "in": "query",
                        "description": "The abbreviated compass direction as defined by Canada Post and B.C. civic addressing authorities.",
                        "type": "string",
                        "required": false,
                        "enum": [
                            "N",
                            "S",
                            "E",
                            "W",
                            "O",
                            "NE",
                            "NO",
                            "NW",
                            "SE",
                            "SO",
                            "SW"
                        ]
                    },
                    {
                        "name": "streetQualifier",
                        "in": "query",
                        "description": "The qualifier of a street name (e.g., the Bridge in Johnson St Bridge)",
                        "type": "string",
                        "required": false,
                        "enum": [
                            "Onramp",
                            "Offramp",
                            "Bridge",
                            "Frontage"
                        ]
                    },
                    {
                        "name": "localityName",
                        "in": "query",
                        "description": "The name of the municipality, community, Indian Reservation, subdivision, regional district, aboriginal land, or natural feature the site is located in. Since this is a physical address geocoder, not a mailing address geocoder, the locality of a civic address is that defined by the address authority, not Canada Post. For example, an address in the Municipality of Esquimalt has a localityName of Esquimalt not Victoria which is the name of the postal community A locality name that starts with a directional should not be abbreviated (e.g., North Vancouver, not N Vancouver). Spelling of localities that are place names or natural feature names MUST match that published by the BC Geographical Names Information System.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "provinceCode",
                        "in": "query",
                        "description": "The ISO 3166-2 Sub-Country Code. The code for British Columbia is BC.",
                        "type": "string",
                        "required": false,
                        "default": "BC"
                    },
                    {
                        "name": "localities",
                        "in": "query",
                        "description": "A comma separated list of locality names that matched addresses must belong to. For example, setting localities to Nanaimo only returns addresses in Nanaimo",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "notLocalities",
                        "in": "query",
                        "description": "A comma-separated list of localities to exclude from the search.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "bbox",
                        "in": "query",
                        "description": "Example: -126.0792945083648,49.76287332290923,-126.0163386310997,49.79077056256354 .  A bounding box (xmin,ymin,xmax,ymax) that limits the search area.  The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "centre",
                        "in": "query",
                        "description": "Example: -124.0165926,49.2296251 .  The coordinates of a centre point (x,y) used to define a bounding circle that will limit the search area. The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter. This parameter must be specified together with 'maxDistance'.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "maxDistance",
                        "in": "query",
                        "description": "The maximum distance (metres) from the centre point that will define a bounding area to limit the search. The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter. This parameter must be specified together with 'centre'.",
                        "type": "number",
                        "required": false,
                        "default": 2000
                    },
                    {
                        "name": "extrapolate",
                        "in": "query",
                        "description": "If true, uses supplied parcelPoint to derive an appropriate accessPoint. If extrapolate=true and no parcelPoint is provided or if extrapolate= false and a parcelPoint is provided, no extrapolation is performed and locationDescriptor is used to determine type of point to return.",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "name": "parcelPoint",
                        "in": "query",
                        "description": "The coordinates of a point (x,y) known to be inside the parcel containing a given address; The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter. Ignored if extrapolate is set to false.",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of matching occupants and their physical locations"
                    }
                }
            }
        },
        "/sites/nearest.{outputFormat}": {
            "get": {
                "description": "Represents the site nearest a given point",
                "tags": [
                    "sites"
                ],
                "parameters": [
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "The output format",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "geojson",
                            "xhtml",
                            "kml",
                            "gml",
                            "csv",
                            "shpz"
                        ]
                    },
                    {
                        "name": "point",
                        "in": "query",
                        "description": "The point (x,y) from which the nearest site will be identified. The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter.",
                        "type": "string",
                        "required": true,
                        "default": "-122.377,50.121"
                    },
                    {
                        "name": "maxDistance",
                        "in": "query",
                        "description": "The maximum distance (in metres) to search from the given point.  If not specified, the search distance is unlimited.",
                        "type": "integer",
                        "required": false
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": true,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "locationDescriptor",
                        "in": "query",
                        "description": "Describes the nature of the address location. A value of 'any' will return a point type other than accessPoint if one is defined; otherwise, it will return an accessPoint. An accessPoint is a point that lies on the curb or road edge of the site's assigned street and in the middle of a site’s driveway or access lane. If a site has no driveway or access lane, the accessPoint will be located in the middle of the entrance walkway. A parcelPoint is a point that is known to lie within the boundaries of a land parcel that contains the site being addressed. A routingPoint is a point that lies on a road centreline and directly in front of a site's accessPoint. A frontDoorPoint is a point represents the location of the front door or main entrance to a house or building. A rooftopPoint is a point representing the location of the roof of a house or building",
                        "type": "string",
                        "required": true,
                        "default": "any",
                        "enum": [
                            "any",
                            "accessPoint",
                            "frontDoorPoint",
                            "parcelPoint",
                            "rooftopPoint",
                            "routingPoint"
                        ]
                    },
                    {
                        "name": "setBack",
                        "in": "query",
                        "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
                        "type": "integer",
                        "required": false,
                        "default": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The nearest site"
                    }
                }
            }
        },
        "/occupants/nearest.{outputFormat}": {
            "get": {
                "description": "Represents the closest occupant to a given point",
                "tags": [
                    "occupants"
                ],
                "parameters": [
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "The output format",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "geojson",
                            "xhtml",
                            "kml",
                            "gml",
                            "csv",
                            "shpz"
                        ]
                    },
                    {
                        "name": "point",
                        "in": "query",
                        "description": "The point (x,y) from which the nearest site will be identified. The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter.",
                        "type": "string",
                        "required": true,
                        "default": "-122.377,50.121"
                    },
                    {
                        "name": "maxDistance",
                        "in": "query",
                        "description": "The maximum distance (in metres) to search from the given point.  If not specified, the search distance is unlimited.",
                        "type": "integer",
                        "required": false
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": true,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "locationDescriptor",
                        "in": "query",
                        "description": "Describes the nature of the address location. A value of 'any' will return a point type other than accessPoint if one is defined; otherwise, it will return an accessPoint. An accessPoint is a point that lies on the curb or road edge of the site's assigned street and in the middle of a site’s driveway or access lane. If a site has no driveway or access lane, the accessPoint will be located in the middle of the entrance walkway. A parcelPoint is a point that is known to lie within the boundaries of a land parcel that contains the site being addressed. A routingPoint is a point that lies on a road centreline and directly in front of a site's accessPoint. A frontDoorPoint is a point represents the location of the front door or main entrance to a house or building. A rooftopPoint is a point representing the location of the roof of a house or building",
                        "type": "string",
                        "required": true,
                        "default": "any",
                        "enum": [
                            "any",
                            "accessPoint",
                            "frontDoorPoint",
                            "parcelPoint",
                            "rooftopPoint",
                            "routingPoint"
                        ]
                    },
                    {
                        "name": "setBack",
                        "in": "query",
                        "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
                        "type": "integer",
                        "required": false,
                        "default": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The nearest occupant"
                    }
                }
            }
        },
        "/intersections/nearest.{outputFormat}": {
            "get": {
                "description": "Represents the closest intersection to a given point",
                "tags": [
                    "intersections"
                ],
                "parameters": [
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "The output format",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "geojson",
                            "xhtml",
                            "kml",
                            "gml",
                            "csv",
                            "shpz"
                        ]
                    },
                    {
                        "name": "point",
                        "in": "query",
                        "description": "The point (x,y) from which the nearby intersections will be identified. The coordinate must be specified in the same SRS as given by the 'outputSRS' parameter.",
                        "type": "string",
                        "required": true,
                        "default": "-122.377,50.121"
                    },
                    {
                        "name": "maxDistance",
                        "in": "query",
                        "description": "The maximum distance (in metres) to search from the given point.  If not specified, the search distance is unlimited.",
                        "type": "integer",
                        "required": false
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": true,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "minDegree",
                        "in": "query",
                        "description": "The minimum degree. A dead-end has a degree of 1.",
                        "type": "integer",
                        "required": true,
                        "default": 2
                    },
                    {
                        "name": "maxDegree",
                        "in": "query",
                        "description": "The maximum degree. A four-way stop has a degree of 4.",
                        "type": "integer",
                        "required": true,
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The nearest intersection"
                    }
                }
            }
        },
        "/sites/near.{outputFormat}": {
            "get": {
                "description": "Represents sites near a given point in the order of closest to farthest",
                "tags": [
                    "sites"
                ],
                "parameters": [
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "The output format",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "geojson",
                            "xhtml",
                            "kml",
                            "gml",
                            "csv",
                            "shpz"
                        ]
                    },
                    {
                        "name": "point",
                        "in": "query",
                        "description": "The point (x,y) from which the nearby sites will be identified. The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter.",
                        "type": "string",
                        "required": true,
                        "default": "-122.377,50.121"
                    },
                    {
                        "name": "maxDistance",
                        "in": "query",
                        "description": "The maximum distance (in metres) to search from the given point.  If not specified, the search distance is unlimited.",
                        "type": "integer",
                        "required": false
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": true,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "The maximum number of search results",
                        "type": "integer",
                        "required": false,
                        "default": 1
                    },
                    {
                        "name": "locationDescriptor",
                        "in": "query",
                        "description": "Describes the nature of the address location. A value of 'any' will return a point type other than accessPoint if one is defined; otherwise, it will return an accessPoint. An accessPoint is a point that lies on the curb or road edge of the site's assigned street and in the middle of a site’s driveway or access lane. If a site has no driveway or access lane, the accessPoint will be located in the middle of the entrance walkway. A parcelPoint is a point that is known to lie within the boundaries of a land parcel that contains the site being addressed. A routingPoint is a point that lies on a road centreline and directly in front of a site's accessPoint. A frontDoorPoint is a point represents the location of the front door or main entrance to a house or building. A rooftopPoint is a point representing the location of the roof of a house or building",
                        "type": "string",
                        "required": true,
                        "default": "any",
                        "enum": [
                            "any",
                            "accessPoint",
                            "frontDoorPoint",
                            "parcelPoint",
                            "rooftopPoint",
                            "routingPoint"
                        ]
                    },
                    {
                        "name": "setBack",
                        "in": "query",
                        "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
                        "type": "integer",
                        "required": false,
                        "default": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of selected sites that are near a given point in order of closest to farther"
                    }
                }
            }
        },
        "/occupants/near.{outputFormat}": {
            "get": {
                "description": "Represents occupants near a given point in order of closest to farthest",
                "tags": [
                    "occupants"
                ],
                "parameters": [
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "The output format",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "geojson",
                            "xhtml",
                            "kml",
                            "gml",
                            "csv",
                            "shpz"
                        ]
                    },
                    {
                        "name": "point",
                        "in": "query",
                        "description": "The point (x,y) from which the nearby occupied sites will be identified. The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter.",
                        "type": "string",
                        "required": true,
                        "default": "-122.377,50.121"
                    },
                    {
                        "name": "maxDistance",
                        "in": "query",
                        "description": "The maximum distance (in metres) to search from the given point.  If not specified, the search distance is unlimited.",
                        "type": "integer",
                        "required": false
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": true,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "The maximum number of search results",
                        "type": "integer",
                        "required": false,
                        "default": 1
                    },
                    {
                        "name": "locationDescriptor",
                        "in": "query",
                        "description": "Describes the nature of the address location. A value of 'any' will return a point type other than accessPoint if one is defined; otherwise, it will return an accessPoint. An accessPoint is a point that lies on the curb or road edge of the site's assigned street and in the middle of a site’s driveway or access lane. If a site has no driveway or access lane, the accessPoint will be located in the middle of the entrance walkway. A parcelPoint is a point that is known to lie within the boundaries of a land parcel that contains the site being addressed. A routingPoint is a point that lies on a road centreline and directly in front of a site's accessPoint. A frontDoorPoint is a point represents the location of the front door or main entrance to a house or building. A rooftopPoint is a point representing the location of the roof of a house or building",
                        "type": "string",
                        "required": true,
                        "default": "any",
                        "enum": [
                            "any",
                            "accessPoint",
                            "frontDoorPoint",
                            "parcelPoint",
                            "rooftopPoint",
                            "routingPoint"
                        ]
                    },
                    {
                        "name": "setBack",
                        "in": "query",
                        "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
                        "type": "integer",
                        "required": false,
                        "default": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of selected sites that are near a given point in order of closest to farther"
                    }
                }
            }
        },
        "/intersections/near.{outputFormat}": {
            "get": {
                "description": "Represents intersections near a given point",
                "tags": [
                    "intersections"
                ],
                "parameters": [
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "The output format",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "geojson",
                            "xhtml",
                            "kml",
                            "gml",
                            "csv",
                            "shpz"
                        ]
                    },
                    {
                        "name": "point",
                        "in": "query",
                        "description": "The point (x,y) from which the nearby intersections will be identified. The coordinate must be specified in the same SRS as given by the 'outputSRS' parameter.",
                        "type": "string",
                        "required": true,
                        "default": "-122.377,50.121"
                    },
                    {
                        "name": "maxDistance",
                        "in": "query",
                        "description": "The maximum distance (in metres) to search from the given point.  If not specified, the search distance is unlimited.",
                        "type": "integer",
                        "required": false,
                        "default": 10
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": true,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "The maximum number of search results",
                        "type": "integer",
                        "required": false,
                        "default": 10
                    },
                    {
                        "name": "minDegree",
                        "in": "query",
                        "description": "The minimum degree of the intersection. A dead-end has a degree of 1.",
                        "type": "integer",
                        "required": true,
                        "default": 2
                    },
                    {
                        "name": "maxDegree",
                        "in": "query",
                        "description": "The maximum degree of the intersection. A four-way stop has a degree of 4.",
                        "type": "integer",
                        "required": true,
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of selected intersections near a the given point"
                    }
                }
            }
        },
        "/sites/within.{outputFormat}": {
            "get": {
                "description": "Represents sites within a given area",
                "tags": [
                    "sites"
                ],
                "parameters": [
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "The output format",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "geojson",
                            "xhtml",
                            "kml",
                            "gml",
                            "csv",
                            "shpz"
                        ]
                    },
                    {
                        "name": "bbox",
                        "in": "query",
                        "description": "A bounding box (xmin,ymin,xmax,ymax) used to limit the search area.  The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter.",
                        "type": "string",
                        "required": true,
                        "default": "-122.89,49.30,-122.91,49.36"
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": true,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "The number of search results to return",
                        "type": "integer",
                        "required": false,
                        "default": 200
                    },
                    {
                        "name": "locationDescriptor",
                        "in": "query",
                        "description": "Describes the nature of the address location. A value of 'any' will return a point type other than accessPoint if one is defined; otherwise, it will return an accessPoint. An accessPoint is a point that lies on the curb or road edge of the site's assigned street and in the middle of a site’s driveway or access lane. If a site has no driveway or access lane, the accessPoint will be located in the middle of the entrance walkway. A parcelPoint is a point that is known to lie within the boundaries of a land parcel that contains the site being addressed. A routingPoint is a point that lies on a road centreline and directly in front of a site's accessPoint. A frontDoorPoint is a point represents the location of the front door or main entrance to a house or building. A rooftopPoint is a point representing the location of the roof of a house or building",
                        "type": "string",
                        "required": true,
                        "default": "any",
                        "enum": [
                            "any",
                            "accessPoint",
                            "frontDoorPoint",
                            "parcelPoint",
                            "rooftopPoint",
                            "routingPoint"
                        ]
                    },
                    {
                        "name": "setBack",
                        "in": "query",
                        "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
                        "type": "integer",
                        "required": false,
                        "default": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of selected sites within the given area"
                    }
                }
            }
        },
        "/occupants/within.{outputFormat}": {
            "get": {
                "description": "Represents all occupants within a given area",
                "tags": [
                    "occupants"
                ],
                "parameters": [
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "The output format",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "geojson",
                            "xhtml",
                            "kml",
                            "gml",
                            "csv",
                            "shpz"
                        ]
                    },
                    {
                        "name": "bbox",
                        "in": "query",
                        "description": "A bounding box (xmin,ymin,xmax,ymax) used to limit the search area.  The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter.",
                        "type": "string",
                        "required": true,
                        "default": "-122.89,49.30,-122.91,49.36"
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": true,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "The maximum number of search results",
                        "type": "integer",
                        "required": false,
                        "default": 10
                    },
                    {
                        "name": "locationDescriptor",
                        "in": "query",
                        "description": "Describes the nature of the address location. A value of 'any' will return a point type other than accessPoint if one is defined; otherwise, it will return an accessPoint. An accessPoint is a point that lies on the curb or road edge of the site's assigned street and in the middle of a site’s driveway or access lane. If a site has no driveway or access lane, the accessPoint will be located in the middle of the entrance walkway. A parcelPoint is a point that is known to lie within the boundaries of a land parcel that contains the site being addressed. A routingPoint is a point that lies on a road centreline and directly in front of a site's accessPoint. A frontDoorPoint is a point represents the location of the front door or main entrance to a house or building. A rooftopPoint is a point representing the location of the roof of a house or building",
                        "type": "string",
                        "required": true,
                        "default": "any",
                        "enum": [
                            "any",
                            "accessPoint",
                            "frontDoorPoint",
                            "parcelPoint",
                            "rooftopPoint",
                            "routingPoint"
                        ]
                    },
                    {
                        "name": "setBack",
                        "in": "query",
                        "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
                        "type": "integer",
                        "required": false,
                        "default": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of selected occupants within the given area"
                    }
                }
            }
        },
        "/intersections/within.{outputFormat}": {
            "get": {
                "description": "Represents all intersections within a given area",
                "tags": [
                    "intersections"
                ],
                "parameters": [
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "The output format",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "geojson",
                            "xhtml",
                            "kml",
                            "gml",
                            "csv",
                            "shpz"
                        ]
                    },
                    {
                        "name": "bbox",
                        "in": "query",
                        "description": "A bounding box (xmin,ymin,xmax,ymax) used to limit the search area.  The coordinates must be specified in the same SRS as given by the 'outputSRS' parameter.",
                        "type": "string",
                        "required": true,
                        "default": "-119.51,49.48,-119.53,49.50"
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": true,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "maxResults",
                        "in": "query",
                        "description": "The maximum number of search results",
                        "type": "integer",
                        "required": false,
                        "default": 200
                    },
                    {
                        "name": "minDegree",
                        "in": "query",
                        "description": "The minimum degree of the intersection. A dead-end has a degree of 1.",
                        "type": "integer",
                        "required": true,
                        "default": 2
                    },
                    {
                        "name": "maxDegree",
                        "in": "query",
                        "description": "The maximum degree of the intersection. A four-way stop has a degree of 4.",
                        "type": "integer",
                        "required": true,
                        "default": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of selected intersections within the given area"
                    }
                }
            }
        },
        "/sites/{siteID}.{outputFormat}": {
            "get": {
                "description": "Represents an individual site",
                "tags": [
                    "sites"
                ],
                "parameters": [
                    {
                        "name": "siteID",
                        "in": "path",
                        "description": "A unique, but not immutable, site identifier.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "The output format",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "geojson",
                            "xhtml",
                            "kml",
                            "gml",
                            "csv",
                            "shpz"
                        ]
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": true,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "locationDescriptor",
                        "in": "query",
                        "description": "Describes the nature of the address location. A value of 'any' will return a point type other than accessPoint if one is defined; otherwise, it will return an accessPoint. An accessPoint is a point that lies on the curb or road edge of the site's assigned street and in the middle of a site’s driveway or access lane. If a site has no driveway or access lane, the accessPoint will be located in the middle of the entrance walkway. A parcelPoint is a point that is known to lie within the boundaries of a land parcel that contains the site being addressed. A routingPoint is a point that lies on a road centreline and directly in front of a site's accessPoint. A frontDoorPoint is a point represents the location of the front door or main entrance to a house or building. A rooftopPoint is a point representing the location of the roof of a house or building",
                        "type": "string",
                        "required": true,
                        "default": "any",
                        "enum": [
                            "any",
                            "accessPoint",
                            "frontDoorPoint",
                            "parcelPoint",
                            "rooftopPoint",
                            "routingPoint"
                        ]
                    },
                    {
                        "name": "setBack",
                        "in": "query",
                        "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
                        "type": "integer",
                        "required": false,
                        "default": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The site with the requested siteID"
                    }
                }
            }
        },
        "/occupants/{occupantID}.{outputFormat}": {
            "get": {
                "description": "Represents an individual occupant",
                "tags": [
                    "occupants"
                ],
                "parameters": [
                    {
                        "name": "occupantID",
                        "in": "path",
                        "description": "Occupant identifier",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "The output format",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "geojson",
                            "xhtml",
                            "kml",
                            "gml",
                            "csv",
                            "shpz"
                        ]
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": true,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    },
                    {
                        "name": "locationDescriptor",
                        "in": "query",
                        "description": "Describes the nature of the address location. A value of 'any' will return a point type other than accessPoint if one is defined; otherwise, it will return an accessPoint. An accessPoint is a point that lies on the curb or road edge of the site's assigned street and in the middle of a site’s driveway or access lane. If a site has no driveway or access lane, the accessPoint will be located in the middle of the entrance walkway. A parcelPoint is a point that is known to lie within the boundaries of a land parcel that contains the site being addressed. A routingPoint is a point that lies on a road centreline and directly in front of a site's accessPoint. A frontDoorPoint is a point represents the location of the front door or main entrance to a house or building. A rooftopPoint is a point representing the location of the roof of a house or building",
                        "type": "string",
                        "required": true,
                        "default": "any",
                        "enum": [
                            "any",
                            "accessPoint",
                            "frontDoorPoint",
                            "parcelPoint",
                            "rooftopPoint",
                            "routingPoint"
                        ]
                    },
                    {
                        "name": "setBack",
                        "in": "query",
                        "description": "The distance to move the accessPoint away from the curb and towards the inside of the parcel (in metres). Ignored if locationDescriptor not set to accessPoint.",
                        "type": "integer",
                        "required": false,
                        "default": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The occupant with the requested occupantID"
                    }
                }
            }
        },
        "/intersections/{intersectionID}.{outputFormat}": {
            "get": {
                "description": "Represents a individual intersection",
                "tags": [
                    "intersections"
                ],
                "parameters": [
                    {
                        "name": "intersectionID",
                        "in": "path",
                        "description": "A unique intersection identifier",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "outputFormat",
                        "in": "path",
                        "description": "The output format",
                        "type": "string",
                        "required": true,
                        "default": "json",
                        "enum": [
                            "json",
                            "geojson",
                            "xhtml",
                            "kml",
                            "gml",
                            "csv",
                            "shpz"
                        ]
                    },
                    {
                        "name": "outputSRS",
                        "in": "query",
                        "description": "The spatial reference system (SRS) to use for output geometries. The default value is 4326 (WGS84, latitude/longitude).  Other common options are: 4269 (NAD83, latitude/longitude), 3005 (NAD83, BC Albers), 26907 (NAD83, UTM Zone 7N), 26908 (NAD83, UTM Zone 8N), 26909 (NAD83, UTM Zone 9N), 26910 (NAD83, UTM Zone 10N), 26911 (NAD83, UTM Zone 11N)",
                        "type": "integer",
                        "required": true,
                        "default": 4326,
                        "enum": [
                            4326,
                            4269,
                            3005,
                            26907,
                            26908,
                            26909,
                            26910,
                            26911
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The Intersection with the requested intersectionID"
                    }
                }
            }
        }
    }
}
